@{
    ViewBag.Title = "伤感"; 
}
<h1>@ViewBag.WesinTitle</h1>
<div>@Html.ActionLink("获取token","GetToken")</div>
<div>@Html.ActionLink("上传自定义菜单","UpdateOwnMenu")</div>
<div>@Html.ActionLink("获取用户列表","GetUserList")</div>
<div id="clock">
    <h2 id="time"></h2>
    <canvas id="canvas" width="300" height="1">
        Canvas not supported!
    </canvas>
</div>
<div id="mousepoint">
    <canvas id="mousecanvas" width="500" height="250">Canvas not supported</canvas>
</div>
@section Scripts{
   @Scripts.Render("~/WesinJs/Clock.js");
   @Scripts.Render("~/WesinJs/mousepoint.js");
}